# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Ignore git files
.git
.gitignore

# Ignore Dockerfile and docker-compose files (optional)
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.local
*.env