html, body {
    background-color: #1ca5d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    margin: 0;
}


button {
    border-radius: 3px;
    padding: 2px;
}

.itinerary {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flight_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    min-width: 90%;
}

.trademark {
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 90%;
}