{% extends "layout.html" %}

{% block script %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block main %}
<div id="main-container">
    <img src="../static/images/Aviale_PNG_File-01.png" alt="flight" id="plane">
    <form action="/status" method="post" class="itinerary" id="IATA">
        <div class="input-container">
            <input type="text" id="airline" name="airline" placeholder="Airline">
            <input type="hidden" id="airline-icao" name="AirlineICAO">
            <div id="airline-dropdown" class="autocomplete"></div>
        </div>
        <div class="input-container">
            <input type="text" id="flightNo" name="flightNo" placeholder="Flight #">
        </div>
        <div class="input-container">
            <input type="text" id="origin" name="Departure" placeholder="Departure">
            <div id="origin-dropdown" class="autocomplete"></div>
        </div>
        <div class="input-container">
            <input type="text" id="destination" name="Arrival" placeholder="Arrival">
            <div id="destination-dropdown" class="autocomplete"></div>
        </div>
        <button type="submit">Flight Status</button>
    </form>
</div>
{% endblock %}