{% extends "layout.html" %}

{% block main %}
<div class="stack-container">
    <!-- Frontend Development -->
    <div class="stack-item">
      <div class="stack-logo">
        <img src="../static/images/frontend.png" alt="Front-end Logos">
      </div>
      <div class="stack-description">
        <h3>Frontend Development</h3>
        <p>HTML, CSS, and JavaScript power Aviale's responsive and sleek user interface, delivering an engaging experience across devices.</p>
      </div>
    </div>
</div>

{% endblock %}